<div class="fc-calendar-container">

  <!-- Header -->
  <div class="row">
    <div class="col-sm-5">
      {{#if view == 'DAY'}}
        <h2>{{datetime(date, 'MMMM D, YYYY')}}</h2>
      {{else}}
        <h2>{{datetime(date, 'MMMM YYYY')}}</h2>
      {{/if}}
    </div>
    <div class="col-sm-7">
      <ViewControls class="h2" on-view="view" />
      <CalendarControls class="h2 pull-right" on-back="back" on-today="today" on-forward="forward" />
    </div>
  </div>

  {{#if view == 'DAY'}}
    <DayView />
  {{elseif view == 'WEEK'}}
    <WeekView />
  {{else}}
    <MonthView />
  {{/if}}

</div>
